.gemstones-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

}
.gemstones-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 25rem;
}

.gemstones-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: grey 0.15rem solid;
    padding: 1%;
    margin: 2% 0 0 5%;
    border-radius: 10%;
}
.gemstones-list div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gemstones-list li:hover{
    border-color: black;
}
.control-buttons{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.control-buttons button{
    width: 5rem;
    border-radius: 15%;
}
.delete-button{
    width: 100%;
    background-color: indianred;
    color: white
}
.delete-button:hover{
    background-color: crimson;
}

.edit-button{
    width: 100%;
}
.edit-button:hover{
    border-color: rgb(171, 184, 197);
}

.gemstones-manager{
    display: flex;
    flex-direction: column;
    font-size: 200%;
    justify-content: space-between;
    position: fixed;
    left: 0;
}

.sort-manager{
    display: flex;
    flex-direction: row;
    padding: 15% 0 0 22%;

}
.sort-manager label{
    width: 12rem;
}
.sort-manager select{
    width: 10rem;
}

.calculate-price{   
    position: absolute;
    margin-top: 17rem;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calculate-price label{
    margin-top: 1rem;
}
.calculate-price button{
    width: 18rem;
}
.calculate-price button:hover{
    background-color: rgb(171, 184, 197);
    color: white;
}

.gem_id{
    display: none;
}

.weightInCarats::before{
    content: "⚖️: ";
}

.weightInCarats::after{
    content: " ct";
}

.priceInUSD::before{
    content: "💰: ";
}

.priceInUSD::after{
    content: " $";
}
.form__edit_gemstone{
    display: none;
    max-width: 85%;
    min-height: 5rem;
}

.form__edit_gemstone div input{
    border: none;
}


.hide{
    display: none !important;
}

.open{
    display: flex !important;
    flex-direction: column;
}